<!-- <form  [formGroup]="cropForm" (ngSubmit)="submit()">
    <div class="container">
      <div>
        <h2>Add Crop</h2>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="enter crop name">
        </div>
      </div>
   
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
   </form>
    -->
